html {
    box-sizing: border-box;
}
body{
    color: #f4ecd6;
    background-color: #a7cab1;
}
.header{
    text-align: center;
    padding: 1em;
    background-color: #847996; 
    color: #f4ecd6;
    border-bottom: 1px solid #ffffff;
}
.nav-ul a:hover, .nav-ul a:focus, .nav-ul a:active {
    background-color: #000; 
    color: #efefef; 
    }