/*general*/

body {
    background: #f4edd6;
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    color: #310a31;
    overflow-x: hidden;
  }
  *{
    box-sizing: border-box;
    margin-left: 2%;
    font-family: Verdana, Tahoma;
  }

  h1{
    text-align: center;
    margin-top: -3.5%;
    margin-left: -8%;
    color: #847996;
  }
  
  ul{
    list-style: none;
    line-height: 50pt;
    font-size: large;
    }

    /*searchbar*/

  .search-box{
    width: fit-content;
    height: fit-content;
    position: relative;
    margin-left: -2%;
    margin-top: 2%;

  }
  .input-search{
    height: 50px;
    width: 50px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: #88b7b5;
    padding-right: 40px;
    color: #310a31;
  }

  .btn-search{
    width: 30px;
    height: 30px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
  
    position: absolute;
    color: #310a31;
    background-color: transparent;
    pointer-events: painted; 
    right: 4000px;
    transition:right 1s linear;
  }

  .input-search:focus{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid #310a31;
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }

  /*bookmark*/

  .bookmark{
    color: #310a31;
    
    width: 30px;

    position: absolute;
    top: 6.5%;
    right: 60px;
    margin-left: 80%;
    margin-bottom: 50%;
  }

  /*search results*/

.listedresults{
    position: relative;
    margin-left: -5%;
  }

.picture{
  position: absolute;
  height: auto;
  max-height: 80%;
  max-width: 40%;
  margin-top: 5%;
  margin-left: 5%;
}

.text{
  position: relative;
  padding-left: 25%;
  padding-top: 0.5%;

  line-height: 45pt;

  font-size: 25px;

  overscroll-behavior-block:unset;
}

.usage{
  position: relative;
  text-align: center;
  margin-top: 2%;
  margin-right: 10%;

  line-height: 30pt;

  font-size: 25px;
}

.actual-goodlooking-header{
  background-color: rgba(167, 202, 177, 0.5);
  height: 10%;
  width: 110%;
}

/*.usage-title{
  position: relative;
  font-size: larger;

  margin-right: 12%;
}

.background-box{
  position:relative;

  background-color: #a7cab7;

  width: 800px;

  background-position-x: left;

  //div in controller js wenn doch machen
}*/
