html {
    box-sizing: border-box;
}
body{
    color: #f4ecd6;
    background-color: #a7cab1;
}
.header{
    text-align: center;
    padding: 1em;
    background-color: #847996; 
    color: #f4ecd6;
    border-bottom: 1px solid #ffffff;
}
.button{
    color: #88b7b5;
    padding: auto;
    text-align: center;
    display: inline-block;
}
.button:hover{
    background-color: #310a31;
    
}